<div class="people">
  <h1>
    <%= @person.name %>
  </h1>

  <div class="family-tree">
    <div class="family">
      <% if @children.any? %>
        <h3>Children</h3>
        <% @children.each do |child| %>
            <p><%= child.name %></p>
        <% end %>
      <% end %>
    </div>

    <div class="family">
      <% if @grandchildren.any? %>
        <h3>Grandchildren</h3>
        <% @grandchildren.each do |grandchild| %>
          <p><%= grandchild.name %></p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="buttons">
    <div class="create-link">
      <%= link_to "Create a child of #{@person.name}", new_person_path(parent_id: @person.id) %>
    </div>
    <div class="return">
      <%= link_to "Return to dashboard", people_path %>
    </div>
  </div>
</div>

