<h1>
  <%= @person.name %>
</h1>

<p>
  <% if @children.any? %>
    <h3>Children</h3>
    <% @children.each do |child| %>
        <%= child.name %>
    <% end %>
  <% end %>
</p>

<p>
  <% if @grandchildren.any? %>
    <h3>Grandchildren</h3>
    <% @grandchildren.each do |grandchild| %>
      <%= grandchild.name %>
   <% end %>
  <% end %>
</p>

<p>
  <%= button_to "Delete",  @person, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete this person?" } } %>
</p>
<div>
  <%= link_to "Create a child of #{@person.name}", new_person_path(parent_id: @person.id) %>
</div>
